<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mgjr">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <permission
        android:name="com.mgjr.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.mgjr.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->

    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <!-- Optional for location -->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />


    <application
        android:name=".mangofinance.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/mango_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".mangofinance.MainActivity"></activity>
        <activity
            android:name=".view.invester.InvestProductDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".view.common.SplashActivity">


        </activity>
        <activity android:name=".view.common.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        >

        <activity android:name=".view.common.RegisterActivityStepOne" />
        <activity android:name=".view.common.RegisterAcitivityStepTwo" />
        <activity android:name=".view.common.LoginActivity" />
        <activity android:name=".view.common.ForgetPasswordActivity" />
        <activity android:name=".view.profile.profileproperty.ProfilePropertyActivity" />
        <activity android:name=".view.invester.InvestHistoryActivity" />
        <activity android:name=".view.invester.InvestConfirmActivity" />
        <activity android:name=".view.profile.CapitalDetails.CapitalDetailsActivity" />
        <activity android:name=".view.invester.InvestCompletedActivity" />
        <activity android:name=".view.profile.accountsetting.ProfileAccountSettingActivity" />
        <activity android:name=".view.profile.accountsetting.ProfileMyInfosActivity" />
        <activity android:name=".view.profile.accountsetting.ProfilePwdManageActivity" />
        <activity android:name=".view.profile.accountsetting.ProfileModifyLoginPwdActivity" />
        <activity android:name=".view.profile.accountsetting.ProfileSetPayPwdActivity" />
        <activity android:name=".view.profile.accountsetting.ProfileModifyTradePwdActivity" />
        <activity android:name=".view.profile.accountsetting.ProfileFindTradePwdActivity" />
        <activity android:name=".view.profile.myhqb.MyHqbActivity" />
        <activity android:name=".view.common.GestureLockSettingActivity" />
        <activity android:name=".view.common.GestureLockCheckActivity" />
        <activity android:name=".view.profile.myJmg.MyJmgActivity" />
        <activity android:name=".view.profile.myJmg.MyJmgInvestingAndFinishedProjectsActivity" />
        <activity android:name=".view.profile.myJmg.MyJmgProjectDetailsActivity" />
        <activity android:name=".view.profile.mangobox.MangoBoxActivity" />
        <activity android:name=".view.profile.accountsetting.ProfileMoreInfoActivity" />
        <activity android:name=".view.profile.servicecenter.ProfileServiceCenterActivity" />
        <activity android:name=".view.profile.activityzone.ProfileEventsListActivity" />
        <activity android:name=".view.profile.mangoExperienceFinancing.MangoExperienceFinancingActivity" />
        <activity android:name=".view.profile.rechargeWithdraw.RechargeActivity" />
        <activity android:name=".view.profile.rechargeWithdraw.WithdrawActivity" />
        <activity android:name=".view.profile.rechargeWithdraw.WithdrawCompleteActivity" />
        <activity android:name=".view.invester.InvestBuyAndRedemptionRulesActivity" />
        <activity android:name=".view.profile.messagecenter.ProfileInfomationSettingActivity" />
        <activity android:name=".view.invester.InvestRecordActivity" />
        <activity android:name=".view.profile.myhqb.MyHqbRunningProjectActivity" />
        <activity android:name=".view.profile.myhqb.MyHqbProjectDetailsActivity" />
        <activity android:name=".view.profile.myhqb.MyHqbRedeemCompleteActivity" />
        <activity android:name=".view.profile.myhqb.MyHqbRedeemedActivity" />
        <activity android:name=".view.profile.messagecenter.ProfileMessageCenterActivity" />
        <activity android:name=".view.profile.accountsetting.ProfileRealNameAuthenticationActivity" />
        <activity android:name=".view.profile.accountsetting.ProfileBindMailBoxActivity" />
        <activity android:name=".view.profile.accountsetting.ProfileAccountManageActivity" />
        <activity android:name=".view.profile.accountsetting.ProfileChangeMobilePhoneActivity" />
        <activity android:name=".view.profile.accountsetting.ProfileChangeMobilePhoneWithOldNumActivity" />
        <activity android:name=".view.profile.accountsetting.ProfileAddBankCardActivity" />
        <activity android:name=".view.profile.accountsetting.ProfileSelectBankActivity" />
        <activity android:name=".view.profile.servicecenter.CommonQuestionActivity" />
        <activity android:name=".view.profile.servicecenter.ProfileFeedBackActivity" />
        <activity android:name=".view.home.MessageCenterActivity" />
        <activity android:name=".view.home.AppMessageCenterActivity" />
        <activity android:name=".view.profile.FinancialPlanner.FinancialPlannerActivity" />

        <activity android:name=".view.profile.accountsetting.ProfileBankCardManageActivity" />
        <activity
            android:name=".share.WeiboShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".view.profile.FinancialPlanner.FriendListActivity" />
        <activity android:name=".view.profile.FinancialPlanner.TenderRewardListActivity" />
        <activity android:name=".view.common.CommonWebViewActivity" />
        <activity android:name=".view.invester.JmgProjectDetailsActivity" />
        <activity android:name=".view.invester.HqbNotesActivity" />
        <activity android:name=".share.CommonWebBrowserActivity" />
        <activity android:name=".view.profile.myhqb.MyHqbTransactionDetailActivity" />
        <activity
            android:name="com.yintong.secure.activity.BaseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize" />

        <!--<receiver-->
        <!--android:name=".view.profile.accountsetting.DownLoadBroadcastReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.DOWNLOAD_COMPLETE" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <service android:name="com.yintong.secure.service.PayService" />
        <!-- LLYT SDK END -->
        <!-- LLYT SDK END -->
        <activity android:name=".view.profile.accountsetting.ProfileSelectMangoBabyActivity" />

        <!-- weibo -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- QQ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105471116" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name=".Utils.AppOnFregroundTimerServices" />

        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle"></activity>

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.mgjr" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"></service>

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.mgjr" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.mgjr" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".share.JPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.mgjr" />
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="552cf4ec810b12b4f17ac0f2" /> <!-- </>值来自开发者平台取得的AppKey -->

        <!--<meta-data android:name="CHANNEL" android:value="1117" />-->


        <!--友盟统计-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55c94ed0e0f55ab62e005f18"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${MGJR_CHANNEL_VALUE}" />

    </application>

</manifest>